<div class="recipe-template">
  <h1>This is recipe template </h1>
  <button type="button" ng-click='getRecipe()' name="button">load recipe</button>
  <button type="button" ng-click='clearRecipe()' name="button">clear recipe</button>
  <h3>Recipe</h3>
  {{recipe}}
</div>
